{% extends "base.njk" %}

{% block content %}
  <h1>About us</h1>
  <p>We are a fake company committed to fake web applications</p>

  <section>
    <h2>Our Mission</h2>
    <p>To make money ofc.</p>
  </section>

  <section>
    <h2>Out team</h2>
    <p>Me, myself and I</p>
  </section>
{% endblock %}
