Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve 'C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\src\main\views\webpack\css-template.njk' in 'C:\Users\samca\WebstormProjects\hmcts-challenge-frontend'
  ModuleNotFoundError: Module not found: Error: Can't resolve 'C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\src\main\views\webpack\css-template.njk' in 'C:\Users\samca\WebstormProjects\hmcts  -challenge-frontend'
      at C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\webpack\lib\Compilation.js:2265:28
      at C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\webpack\lib\NormalModuleFactory.js:949:13
      at eval (eval at create (C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\tapable\lib\HookCodeFactory.js:31:10), <anonymous>:10:1)
      at C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\webpack\lib\NormalModuleFactory.js:347:22
      at eval (eval at create (C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\tapable\lib\HookCodeFactory.js:31:10), <anonymous>:9:1)
      at C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\webpack\lib\NormalModuleFactory.js:532:22
      at C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\webpack\lib\NormalModuleFactory.js:163:10
      at C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\webpack\lib\NormalModuleFactory.js:807:25
      at C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\webpack\lib\NormalModuleFactory.js:1034:8
      at C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\webpack\lib\NormalModuleFactory.js:1163:5
  Module not found: Error: Can't resolve 'C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\src\main\views\webpack\js-template.njk' in 'C:\Users\samca\WebstormProjects\hmcts-challenge-frontend'
  ModuleNotFoundError: Module not found: Error: Can't resolve 'C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\src\main\views\webpack\js-template.njk' in 'C:\Users\samca\WebstormProjects\hmcts-  challenge-frontend'
      at C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\webpack\lib\Compilation.js:2265:28
      at C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\webpack\lib\NormalModuleFactory.js:949:13
      at eval (eval at create (C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\tapable\lib\HookCodeFactory.js:31:10), <anonymous>:10:1)
      at C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\webpack\lib\NormalModuleFactory.js:347:22
      at eval (eval at create (C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\tapable\lib\HookCodeFactory.js:31:10), <anonymous>:9:1)
      at C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\webpack\lib\NormalModuleFactory.js:532:22
      at C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\webpack\lib\NormalModuleFactory.js:163:10
      at C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\webpack\lib\NormalModuleFactory.js:807:25
      at C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\webpack\lib\NormalModuleFactory.js:1034:8
      at C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\node_modules\webpack\lib\NormalModuleFactory.js:1163:5
  
  - Compilation.js:2265 
    [hmcts-challenge-frontend]/[webpack]/lib/Compilation.js:2265:28
  
  - NormalModuleFactory.js:949 
    [hmcts-challenge-frontend]/[webpack]/lib/NormalModuleFactory.js:949:13
  
  
  - NormalModuleFactory.js:347 
    [hmcts-challenge-frontend]/[webpack]/lib/NormalModuleFactory.js:347:22
  
  
  - NormalModuleFactory.js:532 
    [hmcts-challenge-frontend]/[webpack]/lib/NormalModuleFactory.js:532:22
  
  - NormalModuleFactory.js:163 
    [hmcts-challenge-frontend]/[webpack]/lib/NormalModuleFactory.js:163:10
  
  - NormalModuleFactory.js:807 
    [hmcts-challenge-frontend]/[webpack]/lib/NormalModuleFactory.js:807:25
  
  - NormalModuleFactory.js:1034 
    [hmcts-challenge-frontend]/[webpack]/lib/NormalModuleFactory.js:1034:8
  
  - NormalModuleFactory.js:1163 
    [hmcts-challenge-frontend]/[webpack]/lib/NormalModuleFactory.js:1163:5
  
  - Module not found: Error: Can't resolve 'C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\src\main\views\webpack\js-template.njk' in 'C:\Users\samca\WebstormProjects\hmcts-challenge-frontend'  
  - ModuleNotFoundError: Module not found: Error: Can't resolve 'C:\Users\samca\WebstormProjects\hmcts-challenge-frontend\src\main\views\webpack\js-template.njk' in 'C:\Users\samca\WebstormProjects\hmct    s-challenge-frontend'
  
  - Compilation.js:2265 
    [hmcts-challenge-frontend]/[webpack]/lib/Compilation.js:2265:28
  
  - NormalModuleFactory.js:949 
    [hmcts-challenge-frontend]/[webpack]/lib/NormalModuleFactory.js:949:13
  
  
  - NormalModuleFactory.js:347 
    [hmcts-challenge-frontend]/[webpack]/lib/NormalModuleFactory.js:347:22
  
  
  - NormalModuleFactory.js:532 
    [hmcts-challenge-frontend]/[webpack]/lib/NormalModuleFactory.js:532:22
  
  - NormalModuleFactory.js:163 
    [hmcts-challenge-frontend]/[webpack]/lib/NormalModuleFactory.js:163:10
  
  - NormalModuleFactory.js:807 
    [hmcts-challenge-frontend]/[webpack]/lib/NormalModuleFactory.js:807:25
  
  - NormalModuleFactory.js:1034 
    [hmcts-challenge-frontend]/[webpack]/lib/NormalModuleFactory.js:1034:8
  
  - NormalModuleFactory.js:1163 
    [hmcts-challenge-frontend]/[webpack]/lib/NormalModuleFactory.js:1163:5
  
  - child-compiler.js:211 
    [hmcts-challenge-frontend]/[html-webpack-plugin]/lib/child-compiler.js:211:18
  
  - Compiler.js:650 finalCallback
    [hmcts-challenge-frontend]/[webpack]/lib/Compiler.js:650:5
  
  - Compiler.js:686 
    [hmcts-challenge-frontend]/[webpack]/lib/Compiler.js:686:11
  
  - Compiler.js:1377 
    [hmcts-challenge-frontend]/[webpack]/lib/Compiler.js:1377:17
  
  
  - Hook.js:21 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [hmcts-challenge-frontend]/[tapable]/lib/Hook.js:21:14
  
  - Compiler.js:1373 
    [hmcts-challenge-frontend]/[webpack]/lib/Compiler.js:1373:33
  
  - Compilation.js:3098 finalCallback
    [hmcts-challenge-frontend]/[webpack]/lib/Compilation.js:3098:11
  
  - Compilation.js:3439 
    [hmcts-challenge-frontend]/[webpack]/lib/Compilation.js:3439:11
  
  
</pre>